* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 390px;
    text-align: center;
    animation: slideInBox 1s ease-in-out;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="number"], input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus, input[type="text"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    background: #5a67d8;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #434190;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

#password {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    word-break: break-all;
    opacity: 0;
    animation: slideIn 1s forwards;
    color: black;
}

@keyframes slideInBox {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
